/*/ color classes /*/
.bg-grey {
    background-color: #f2f2f2;
}

.theme-color-black {color: #201F1D; }
.w-45 {
    width: 45%;
}

/*/ font sizes /*/
.f-12 { font-size: 12px; }
.f-20 { font-size: 20px; }
.f-23 { font-size: 23px; }
.f-28 { font-size: 28px; }
.f-40 { font-size: 40px; }

/*/ margin classes /*/
.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}
.mb-100 {
    margin-bottom: 100px;
}
.ml-10 {
    margin-left: 10px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*/ padding classes /*/
.pl-30 {
    padding-left: 30px;
}

.mh-45 { min-height: 45px; }
.cursor-pointer {
    cursor: pointer;
}
